<div class="columns">
    <div class="column is-12">
        <div class="tabs is-centered is-toggle m-5" id="user-tabs">
            <ul>
                <li class="is-active" data-tab="1">
                    <a>
                        <span>My Events</span>
                    </a>
                </li>

                <li data-tab="2">
                    <a>
                        <span>Invites</span>
                    </a>
                </li>

                <li data-tab="3">
                    <a>
                        <span>Created Events</span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="user-tab-content" class="column is-8 is-offset-2 box">
            <div id="my-events-tab" data-content="1" class="content-tab is-active">
                <div id="future-events">
                    <h3 class="is-size-4 is-underlined centered-text has-text-weight-semibold">Upcoming Events</h3>
                    <%= render 'events_feed', {events: @invited_events.future, tab: "attended", empty_message: "You have no upcoming events.", interval: 0 }%>
                </div>
                <div id="past-events">
                    <h3 class="is-size-4 is-underlined centered-text has-text-weight-semibold">Past Events</h3>
                    <%= render 'events_feed', {events: @invited_events.past, tab: "attended", empty_message: "No events to display.", interval: 0 }%>
                </div>
            </div>
            
            <div id="my-invites-tab" data-content="2" class="content-tab">
                <h3 class="is-size-4 is-underlined centered-text has-text-weight-semibold">My Invitations</h3>
                <br />
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical centered-text">
                        <div class="tile is-child">
                            <div class="title is-size-5">Pending Invitations</div>
                            <%= render 'invitations_feed', {event_invites: @pending_event_invites, count: 1, need_end: false, view: "pending"} %>
                        </div>
                        <div class="tile is-child">
                            <div class="title is-size-5">Declined Invitations</div>
                            <%= render 'invitations_feed', {event_invites: @declined_event_invites, count: 1, need_end: false, view: "declined"} %>
                        </div>
                    </div>
                </div>
            </div>

            <div id="my-created-tab" data-content="3" class="content-tab">
                <h3 class="is-size-4 is-underlined centered-text has-text-weight-semibold">Created Events</h3>
                <%= render 'events_feed', {events: @created_events, tab: "created", empty_message: "You have not created an event.", interval: 0 }%>
            </div>
        </div>
    </div>
</div>
