<div class="column is-6 is-offset-3 centered-text">
  <div class ="is-size-3">Change your password</div>
  <br />
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password", class:"label" %>
      <p class="control has-icons-left">
        <%= f.password_field :password, autofocus: true, autocomplete: "new_password", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password", class:"label" %>
      <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new_password", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Change my password", class:"button is-info" %>
    </div>
    <br />
    <%= render "devise/shared/links" %>
  <% end %>
</div>
