<div class="box mt-4">
    <%= form_with(model: event) do |form| %>
        <% if event.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
                <% event.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="actions">
            <div class="field">
                <%= form.label :name, class: "label" %>
                <div class="control">
                    <%= form.text_field :name, class: "input" %>
                </div>
            </div>

            <div class="field">
                <%= form.label :location, class: "label" %>
                <div class="control">
                    <%= form.text_field :location, class: "input" %>
                </div>
            </div>

            <div class="field">
                <%= form.label :date, class: "label" %>
                <div class="control">
                    <%= form.date_field :date, class: "input" %>
                </div>
            </div>

            <div class="field">
                <%= form.label "Event Status", class: "label" %>
                <%= form.radio_button :private, "false", checked: true %>
                <%= form.label :event_public, "Public", class: "mr-2" %>
                <%= form.radio_button :private, "true" %>
                <%= form.label :event_private, "Private" %>
            </div>
            <br />
            <%= form.button :Submit, class: "button is-info"%>
            <%= link_to 'Cancel', "/users/:current_user.id", class: "button is-light"%>
        </div>

    <% end %>
</div>