<div class="column is-6 is-offset-3 centered-text">
    <div class="is-size-2">
        <%= @event.name %>
    </div>
    
    <div class="tile is-ancestor">
        <div class="tile centered-text is-parent box m-5 is-12">
            <div class="tile is-parent is-vertical is-6">
                <div class="tile is-child is-size-3">
                    <div class="has-text-weight-bold"><%= @event.name %></div>
                </div>
                <% if current_user.id === @event.creator.id %>
                <div class="tile is-child">
                    <%= link_to "Edit", edit_event_path(@event)%>
                    |
                    <%= link_to "Delete", @event, method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
                <% end %>
                <div class="tile is-child">
                    <p> 
                        <span class="has-text-weight-bold">Organizer: </span>
                        <%= @event.creator.full_name %>
                    </p>
                    <br /> 
                    <p>For more informaton please contact: 
                        <span class="has-text-weight-bold"><%= @event.creator.email %></span>
                    </p>
                </div>
            </div>
            <div class="tile is-parent is-6 is-vertical">
                <div class="tile is-child">
                    <h5 class="is-size-6 has-text-weight-semibold">
                        Location:
                    </h5>
                    <p>
                        <%= @event.location %>
                    </p>
                </div>
                <div class="tile is-child">
                        <h5 class="is-size-6 has-text-weight-semibold">
                            Date of Event:
                        </h5>
                        <p>
                            <%= @event.date.strftime("%A, %B %dth, %Y") %>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>