<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice centered-text notification notice is-primary" onload="notificationTimeOut()"><%= notice %></p>
    <% end%>
    <% if flash[:alert] %>
      <p class="alert centered-text notification notice is-danger" onload="notificationTimeOut()"><%= alert %></p>
    <% end %>

    <nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to "private_events", root_path, class: "navbar-item has-text-weight-bold is-size-5"%>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

        <div class="navbar-menu" id="main-navbar">
          <div class="navbar-start">
            <%= link_to "All Events", root_path, class: "navbar-item"%>
            <% if user_signed_in? %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">My Events</a>

                <div class="navbar-dropdown">
                  <%= link_to "Hosting Events", "/users/:current_user.id", class: "navbar-item"%>
                  <%= link_to "Attending Events", root_path, class: "navbar-item"%>
                </div>
              </div>
              <div class="navbar-item">
                <div class="buttons">
                  <%= link_to "Create New Event", new_event_path, class: "button is-primary has-text-weight-semibold"%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "button is-white has-text-weight-bold"%>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button is-light"%>
              <% else %>
                <%= link_to "Sign Up", new_user_registration_path, class: "button is-white has-text-weight-bold"%>
                <%= link_to "Log In", new_user_session_path, class: "button is-link"%>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </nav>
    <br />
    <%= yield %>

    <footer class="footer mt-6">
      <div class="content has-text-centered">
        <p>
          The website is based off a project from the <a href="https://www.theodinproject.com/">Odin Project</a>.
        </p>
      </div>
    </footer>
    <%= javascript_pack_tag "index"%>
  </body>
</html>
